USE [database]
GO
/****** Object:  Table [dbo].[tbl_admin]    Script Date: 05/16/2017 15:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_admin](
	[Username] [varchar](255) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Priority] [int] NOT NULL,
 CONSTRAINT [PK_tbl_admin] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tbl_admin] ([Username], [Password], [Priority]) VALUES (N'admin', N'admin', 1)
INSERT [dbo].[tbl_admin] ([Username], [Password], [Priority]) VALUES (N'kskull41196', N'5560020123aA', 1)
INSERT [dbo].[tbl_admin] ([Username], [Password], [Priority]) VALUES (N'yenyen', N'123456', 1)
/****** Object:  Table [dbo].[tbl_header]    Script Date: 05/16/2017 15:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_header](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[image] [nvarchar](255) NULL,
	[phone1] [varchar](50) NULL,
	[tittle] [nvarchar](255) NULL,
	[phone2] [varchar](50) NULL,
	[shortcuticon] [varchar](255) NULL,
 CONSTRAINT [PK_tbl_header] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_header] ON
INSERT [dbo].[tbl_header] ([id], [image], [phone1], [tittle], [phone2], [shortcuticon]) VALUES (1, N'2logo.png', N'0932705096', NULL, N'01669380986', N'images/icon.png')
SET IDENTITY_INSERT [dbo].[tbl_header] OFF
/****** Object:  Table [dbo].[tbl_information]    Script Date: 05/16/2017 15:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[tbl_information](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenTT] [nvarchar](255) NOT NULL,
	[NoiDung] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[GioiThieu] [bit] NULL,
	[alias] [varchar](255) NULL,
 CONSTRAINT [PK_tbl_information] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_information] ON
SET IDENTITY_INSERT [dbo].[tbl_information] OFF
/****** Object:  Table [dbo].[tbl_menu]    Script Date: 05/16/2017 15:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenMenu] [nvarchar](255) NOT NULL,
	[url] [nvarchar](255) NOT NULL,
	[ThuTu] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_menu] ON
INSERT [dbo].[tbl_menu] ([id], [TenMenu], [url], [ThuTu], [Status]) VALUES (1, N'Trang chủ', N'/Home/Index', 1, 1)
INSERT [dbo].[tbl_menu] ([id], [TenMenu], [url], [ThuTu], [Status]) VALUES (2, N'Tươi sống', N'/Home/ProductType/1', 2, 1)
INSERT [dbo].[tbl_menu] ([id], [TenMenu], [url], [ThuTu], [Status]) VALUES (3, N'Khô', N'/Home/ProductType/2', 3, 1)
SET IDENTITY_INSERT [dbo].[tbl_menu] OFF
/****** Object:  Table [dbo].[tbl_menubottom]    Script Date: 05/16/2017 15:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_menubottom](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenmenu] [nvarchar](255) NOT NULL,
	[url] [varchar](255) NOT NULL,
	[thutu] [int] NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_tbl_menubottom] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_menubottom] ON
INSERT [dbo].[tbl_menubottom] ([id], [tenmenu], [url], [thutu], [status]) VALUES (1, N'Về thuyhaisancamau.com', N'/Home/infomation/1', 1, 1)
INSERT [dbo].[tbl_menubottom] ([id], [tenmenu], [url], [thutu], [status]) VALUES (2, N'Chính sách & quy định chung', N'/Home/infomation/4', 2, 1)
INSERT [dbo].[tbl_menubottom] ([id], [tenmenu], [url], [thutu], [status]) VALUES (3, N'Chính sách bảo mật', N'/Home/infomation/5', 3, 1)
SET IDENTITY_INSERT [dbo].[tbl_menubottom] OFF
/****** Object:  Table [dbo].[tbl_news]    Script Date: 05/16/2017 15:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[tbl_news](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[TomTat] [nvarchar](max) NOT NULL,
	[UrlHinh] [nvarchar](255) NOT NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
	[LuotXem] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[status] [bit] NOT NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[keyword] [nvarchar](255) NULL,
	[alias] [varchar](255) NULL,
 CONSTRAINT [PK_tbl_news] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_news] ON
SET IDENTITY_INSERT [dbo].[tbl_news] OFF
/****** Object:  Table [dbo].[tbl_Product]    Script Date: 05/16/2017 15:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[tbl_Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](255) NOT NULL,
	[UrlHinh] [nvarchar](255) NULL,
	[GiaHienTai] [decimal](18, 0) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[MoTaCT] [nvarchar](max) NULL,
	[SoLuongTon] [int] NOT NULL,
	[SLDaBan] [int] NOT NULL,
	[LuotXem] [int] NULL,
	[NgayCapNhat] [datetime] NULL,
	[Status] [bit] NOT NULL,
	[IDLoaiSP] [int] NULL,
	[GiaCu] [decimal](18, 0) NULL,
	[KhuyenMai] [int] NULL,
	[CaTuoiMoiNgay] [bit] NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[keyword] [nvarchar](255) NULL,
	[alias] [varchar](255) NULL,
	[TrangChu] [bit] NULL,
 CONSTRAINT [PK_tbl_Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Product] ON
SET IDENTITY_INSERT [dbo].[tbl_Product] OFF
/****** Object:  Table [dbo].[tbl_product_types]    Script Date: 05/16/2017 15:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[tbl_product_types](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSP] [nvarchar](50) NULL,
	[Status] [bit] NOT NULL,
	[alias] [varchar](255) NULL,
	[TrangChu] [bit] NULL,
 CONSTRAINT [PK_tbl_product_types] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_product_types] ON
INSERT [dbo].[tbl_product_types] ([ID], [TenLoaiSP], [Status], [alias], [TrangChu]) VALUES (9, N'Công nghệ Thông tin', 1, N'Cong-nghe-Thong-tin', 1)
INSERT [dbo].[tbl_product_types] ([ID], [TenLoaiSP], [Status], [alias], [TrangChu]) VALUES (10, N'Ngoại ngữ', 1, N'Ngoai-ngu', 1)
INSERT [dbo].[tbl_product_types] ([ID], [TenLoaiSP], [Status], [alias], [TrangChu]) VALUES (11, N'Phật Giáo', 1, N'Phat-Giao', 1)
SET IDENTITY_INSERT [dbo].[tbl_product_types] OFF
/****** Object:  Table [dbo].[tbl_shop]    Script Date: 05/16/2017 15:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_shop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenshop] [nvarchar](255) NULL,
	[emailshop] [varchar](255) NULL,
	[phoneshop1] [varchar](255) NULL,
	[thoigianlamviec1] [nvarchar](max) NULL,
	[masodoanhnghiep] [nvarchar](255) NULL,
	[addressshop] [nvarchar](255) NULL,
	[thoigianlamviec2] [nvarchar](max) NULL,
	[phoneshop2] [varchar](50) NULL,
	[longtitude] [varchar](50) NULL,
	[lattitude] [varchar](50) NULL,
	[title] [nvarchar](255) NULL,
	[description] [nvarchar](255) NULL,
	[keyword] [nvarchar](255) NULL,
 CONSTRAINT [PK_tbl_shop] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_shop] ON
SET IDENTITY_INSERT [dbo].[tbl_shop] OFF
/****** Object:  Table [dbo].[Customers]    Script Date: 05/16/2017 15:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idshop] [varchar](10) NULL,
	[name] [nvarchar](255) NULL,
	[birthday] [datetime] NULL,
	[sex] [bit] NULL,
	[idcard] [varchar](9) NULL,
	[image] [varchar](255) NULL,
	[email] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[address] [nvarchar](255) NULL,
	[moblie] [varchar](20) NULL,
	[date_added] [datetime] NULL,
	[last_modified] [datetime] NULL,
	[status] [bit] NULL,
	[note] [nvarchar](255) NULL,
	[randomkey] [varchar](20) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON
INSERT [dbo].[Customers] ([id], [idshop], [name], [birthday], [sex], [idcard], [image], [email], [password], [address], [moblie], [date_added], [last_modified], [status], [note], [randomkey]) VALUES (3, NULL, N'Lương yến', NULL, NULL, NULL, NULL, N'lkimlyen2912@gmail.com', N'hoahongtim', N'92/9 ung văn khiêm, phường 25, tp.hcm', N'01669380986', CAST(0x0000A69D00DE4243 AS DateTime), NULL, 1, NULL, NULL)
INSERT [dbo].[Customers] ([id], [idshop], [name], [birthday], [sex], [idcard], [image], [email], [password], [address], [moblie], [date_added], [last_modified], [status], [note], [randomkey]) VALUES (4, NULL, NULL, NULL, NULL, NULL, NULL, N'luongthiyen1060@hotmail.com', N'hoahongtim', NULL, NULL, CAST(0x0000A69D00EF1491 AS DateTime), NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Customers] OFF
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 05/16/2017 15:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[iddh] [int] NULL,
	[idsp] [int] NULL,
	[soluong] [int] NULL,
	[dongia] [decimal](18, 0) NULL,
	[thanhtien] [decimal](18, 0) NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON
INSERT [dbo].[OrderDetails] ([id], [iddh], [idsp], [soluong], [dongia], [thanhtien]) VALUES (1, 1, 2, 1, CAST(750000 AS Decimal(18, 0)), CAST(750000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetails] ([id], [iddh], [idsp], [soluong], [dongia], [thanhtien]) VALUES (2, 2, 3, 1, CAST(690000 AS Decimal(18, 0)), CAST(690000 AS Decimal(18, 0)))
INSERT [dbo].[OrderDetails] ([id], [iddh], [idsp], [soluong], [dongia], [thanhtien]) VALUES (3, 2, 2, 1, CAST(750000 AS Decimal(18, 0)), CAST(750000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
/****** Object:  Table [dbo].[Orders]    Script Date: 05/16/2017 15:58:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idshop] [varchar](10) NULL,
	[price] [decimal](18, 0) NULL,
	[idkh] [int] NULL,
	[phonenumber] [varchar](20) NULL,
	[thoidiemdathang] [datetime] NULL,
	[tennguoinhan] [nvarchar](255) NULL,
	[diachi] [nvarchar](255) NULL,
	[gmail] [varchar](255) NULL,
	[status] [bit] NULL,
	[state] [nvarchar](255) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON
INSERT [dbo].[Orders] ([id], [idshop], [price], [idkh], [phonenumber], [thoidiemdathang], [tennguoinhan], [diachi], [gmail], [status], [state]) VALUES (1, NULL, CAST(750000 AS Decimal(18, 0)), 3, NULL, CAST(0x0000A6A5010F4D7A AS DateTime), NULL, NULL, NULL, 0, NULL)
INSERT [dbo].[Orders] ([id], [idshop], [price], [idkh], [phonenumber], [thoidiemdathang], [tennguoinhan], [diachi], [gmail], [status], [state]) VALUES (2, NULL, CAST(2190000 AS Decimal(18, 0)), 3, N'01669380986', CAST(0x0000A6AD00A4210D AS DateTime), N'yến yến ', N'tphcm', N'', 0, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
/****** Object:  Default [DF_tbl_news_LuotXem]    Script Date: 05/16/2017 15:58:07 ******/
ALTER TABLE [dbo].[tbl_news] ADD  CONSTRAINT [DF_tbl_news_LuotXem]  DEFAULT ((0)) FOR [LuotXem]
GO
/****** Object:  Default [DF_tbl_Product_GiaHienTai1]    Script Date: 05/16/2017 15:58:07 ******/
ALTER TABLE [dbo].[tbl_Product] ADD  CONSTRAINT [DF_tbl_Product_GiaHienTai1]  DEFAULT ((0)) FOR [GiaHienTai]
GO
/****** Object:  Default [DF_tbl_Product_SoLuongTon1]    Script Date: 05/16/2017 15:58:07 ******/
ALTER TABLE [dbo].[tbl_Product] ADD  CONSTRAINT [DF_tbl_Product_SoLuongTon1]  DEFAULT ((1)) FOR [SoLuongTon]
GO
/****** Object:  Default [DF_tbl_Product_SLDaBan1]    Script Date: 05/16/2017 15:58:07 ******/
ALTER TABLE [dbo].[tbl_Product] ADD  CONSTRAINT [DF_tbl_Product_SLDaBan1]  DEFAULT ((0)) FOR [SLDaBan]
GO
/****** Object:  Default [DF_tbl_Product_LuotXem1]    Script Date: 05/16/2017 15:58:07 ******/
ALTER TABLE [dbo].[tbl_Product] ADD  CONSTRAINT [DF_tbl_Product_LuotXem1]  DEFAULT ((0)) FOR [LuotXem]
GO
